<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BROADCAST</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="topbar">
        <div class="navbar">
            <a href="welcomepage.html">BROADCAST</a>
            <!--Sorted case dropd-down menu-->
            <div class="link-right-position">
                <div class="dropdown">
                    <button class="dropbtn">Red Flag
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a id="myBtn">Drafts</a>
                        <a href="">Delete</a>
                        <a href="">Investigation</a>
                        <a href="">Rejected</a>
                    </div>
                </div>
                <!--Category drop-down menu-->
                <div class="dropdown">
                    <button class="dropbtn">Intervention
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a id="myBtn">Drafts</a>
                        <a href="home.html" target="_self">Delete</a>
                        <a href="home.html" target="_self">Investigation</a>
                        <a href="home.html" target="_self">Rejected</a>
                    </div>
                </div>
                <!-- Login user info display -->
                <div class="dropdown">
                    <button class="dropbtn">Didier
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <!--<a href="">Profile</a>-->
                        <a href="../html/index.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--main -->
    <div id="center-btn">
        <a class="center" href="../html/create-post.html"><button class="button-create-post" type="button"><img
                    src="../img/add.png" class="plus-icon" alt="image" /> CREATE</button></a>
    </div>
    <div class="container2">
        <div class="broadcast">
            <div class="content">
                <h2>Title</h2>
                <h4>Subtitle</h4>
                <div class="text-red-flag">Intervention</div>
                <!--<div class="text-red-flag-status">Resolved</div>-->
                <p class="text-ellipsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ab inventore earum
                    nulla temporibus velit beatae atque molestias eum nobis illum aspernatur, et voluptates nostrum
                    laudantium iusto debitis. Assumenda, ab?
                </p>
                <div class="img-size">
                    <img src="../img/1.jpeg">
                </div>
                <a href=" home.html" target="_self"><button class=" view-intervention">View</button></a>
                <a href="view-intervention.html"><button class="view-intervention-delete">Delete</button></a>
                <a href="edit-post.html"><button class="view-intervention-edit">Edit</button></a>
            </div>
        </div>
        <br>
        <div class="broadcast">
            <div class="content">
                <h2>Title</h2>
                <h4>Subtitle</h4>
                <div class="text-red-flag-second">Red flag</div>
                <div class="text-red-flag-status">Resolved</div>
                <p class="text-ellipsis">hello, Congratulation on making this so far, hello Congratulation on making
                    this so
                    far.... hello Congratulation on making this so far.... hello Congratulation on making this so
                    far....</p>
                <div class="img-size">
                    <img src="../img/1.jpeg">
                </div>
                <a href="home.html" target="_self"><button class="view-intervention">View</button></a>
                <a href="view-intervention.html"><button class="view-intervention-delete">Delete</button></a>
                <a href="view-intervention.html"><button class="view-intervention-edit">Edit</button></a>
            </div>

        </div>
        <br>
        <div class="broadcast">
            <div class="content">
                <h2>Title</h2>
                <h4>Subtitle</h4>
                <div class="text-red-flag">Intervention</div>
                <div class="text-red-flag-status">Resolved</div>
                <p class="text-ellipsis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla iure quos fuga
                    magni modi distinctio aspernatur itaque at dolorum. Quaerat tenetur et cumque blanditiis? Esse dicta
                    repellat corporis rerum iste?</p>
                <div class="img-size">
                    <img src="../img/1.jpeg">
                </div>
                <a href="home.html" target="_self"><button class="view-intervention">View</button></a>
            </div>

        </div>
        <br>
        <div class="broadcast">
            <div class="content">
                <h2>Title</h2>
                <h4>Subtitle</h4>
                <div class="text-red-flag-second">Red flag</div>
                <div class="text-red-flag-status">Resolved</div>
                <p class="text-ellipsis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel eaque sint itaque
                    fugit nostrum ex totam, asperiores sunt ab nesciunt repellendus officiis quos, nam dolore fugiat!
                    Quam sed reiciendis laborum?</p>
                <div class="img-size">
                    <img src="../img/1.jpeg">
                </div>
                <a href="home.html" target="_self"><button class="view-intervention">View</button></a>

            </div>

        </div>
    </div>
    </main>
    <br>
    <div class="footer">
        <p>BroadCast &copy; 2019</p>
        <divr>

            <script src="../js/script.js"></script>
</body>

</html>